<form #f="ngForm" (submit)="aoSubmeterFormulario(f)" class="mt-2">
  <div class="mt-2">
    <div class="form-group mb-2">
      <label for="email">Email</label>
      <input
        type="email"
        #email="ngModel"
        ngModel
        name="email"
        class="form-control rounded-pill"
        placeholder="Email"
      />
    </div>
    <div class="form-group mb-2">
      <label for="senha">Senha</label>
      <input
        type="password"
        #senha="ngModel"
        ngModel
        name="senha"
        class="form-control rounded-pill"
        placeholder="Senha"
      />
    </div>
  </div>
  <div class="text-center mb-1">
    <button mat-stroked-button class="rounded-pill btn-block mt-4">
      Logar
    </button>
  </div>
</form>
